.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 Why your team needs CI

    %h3 Less manual work, more automation
    %ul
      %li
        %b Detect errors as quickly as possible:
        Fix problems while fresh in developers minds
      %li
        %b Reduce integration problems:
        Smaller problems are easier to digest and solve
      %li
        %b Avoid compounding problems:
        Allows teams to develop faster, with more confidence

    %h3 
      Seamless path to 
      = link_to "CD", "https://about.gitlab.com/stages-devops-lifecycle/continuous-delivery/"
    %ul
      %li
        %b Ensure every change is releasable:
        Test everything, including deployment, before calling it done
      %li
        %b Lower the risk of each release:
        Make releases “boring”
      %li
        %b Deliver value more frequently:
        Reliable deployments mean more releases
      %li
        %b Tight customer feedback loops:
        Fast and frequent customer feedback on changes
.row
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    = image_tag "/images/blogimages/updatedcicd.png", alt: "Updated CI/CD Pipeline", style: "margin-top: 40px;"
%hr.divider/
