---
layout: default
title: Agile culture techniques to build better teams
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/c/agile-cultural-techniques?x=QjgA6X&lb_email="
form_id: "1002"
form_type: "resources"
cta_title: "Download the eBook"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the eBook"
success_message: "You will also receive a copy of the eBook to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Agile Culture
        %h2.page-headline Techniques to build better teams

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Agile is a methodology to develop software, but it’s also a cultural phenomenon that emphasizes flexibility, change, collaboration, and communication. Maintaining a strong Agile culture starts with empowering the people who comprise its dynamic environment.
            
            %p In order to support these individuals, it’s important to embrace techniques that help team members thrive. 

            %h3 What you’ll learn in this eBook:
            %ul
              %li The top 5 Agile techniques
              %li The impact techniques have on culture
              %li How GitLab features cultivate Agile team development

            %p Download the eBook to strengthen your Agile culture.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }